In [1]:
import pandas as pd
from sqlalchemy import create_engine
pd.options.display.float_format = '{:.2f}'.format

In [2]:
csv_file = "Resources/WEOApr2018all.csv"
gdp_data_df = pd.read_csv(csv_file)
gdp_data_df.head()

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,484.17,495.63,508.044,520.745,536.276,554.949,577.058,602.932,632.983,2016.00
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,"See notes for: Gross domestic product, consta...",NaN,...,1.31,2.37,2.505,2.5,2.982,3.482,3.984,4.484,4.984,2016.00
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,227.95",1320.24,"1,422.01","1,531.95","1,656.57","1,799.95","1,965.32","2,156.19","2,376.89",2016.00
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,20.079,19.45,20.889,21.657,22.925,24.244,25.86,27.783,30,2016.00
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,64.292,66.65,69.553,72.911,76.714,80.945,85.774,91.159,97.367,2016.00

In [3]:
new_gdp_data_df = gdp_data_df[['WEO Country Code', 'WEO Subject Code', 'ISO', 'Country', 'Units', 'Scale', '2016']].copy()
new_gdp_data_df.head()

,WEO Country Code,WEO Subject Code,ISO,Country,Units,Scale,2016
0,512,NGDP_R,AFG,Afghanistan,National currency,Billions,495.63
1,512,NGDP_RPCH,AFG,Afghanistan,Percent change,NaN,2.37
2,512,NGDP,AFG,Afghanistan,National currency,Billions,1320.24
3,512,NGDPD,AFG,Afghanistan,U.S. dollars,Billions,19.45
4,512,PPPGDP,AFG,Afghanistan,Purchasing power parity; international dollars,Billions,66.65

In [4]:
new_ngdpd_data_df = new_gdp_data_df[new_gdp_data_df['WEO Subject Code'] == 'NGDPD']
new_ngdpd_data_df

,WEO Country Code,WEO Subject Code,ISO,Country,Units,Scale,2016
3,512,NGDPD,AFG,Afghanistan,U.S. dollars,Billions,19.45
48,914,NGDPD,ALB,Albania,U.S. dollars,Billions,11.87
93,612,NGDPD,DZA,Algeria,U.S. dollars,Billions,159.05
138,614,NGDPD,AGO,Angola,U.S. dollars,Billions,95.34
183,311,NGDPD,ATG,Antigua and Barbuda,U.S. dollars,Billions,1.46
228,213,NGDPD,ARG,Argentina,U.S. dollars,Billions,554.11
273,911,NGDPD,ARM,Armenia,U.S. dollars,Billions,10.57
318,193,NGDPD,AUS,Australia,U.S. dollars,Billions,1264.94
363,122,NGDPD,AUT,Austria,U.S. dollars,Billions,390.96
408,912,NGDPD,AZE,Azerbaijan,U.S. dollars,Billions,37.81
453,313,NGDPD,BHS,The Bahamas,U.S. dollars,Billions,11.26
498,419,NGDPD,BHR,Bahrain,U.S. dollars,Billions,32.18
543,513,NGDPD,BGD,Bangladesh,U.S. dollars,Billions,235.62
588,316,NGDPD,BRB,Barbados,U.S. dollars,Billions,4.76
633,913,NGDPD,BLR,Belarus,U.S. dollars,Billions,47.70
678,124,NGDPD,BEL,Belgium,U.S. dollars,Billions,468.15
723,339,NGDPD,BLZ,Belize,U.S. dollars,Billions,1.82
768,638,NGDPD,BEN,Benin,U.S. dollars,Billions,8.58
813,514,NGDPD,BTN,Bhutan,U.S. dollars,Billions,2.13
858,218,NGDPD,BOL,Bolivia,U.S. dollars,Billions,34.05
903,963,NGDPD,BIH,Bosnia and Herzegovina,U.S. dollars,Billions,16.92
948,616,NGDPD,BWA,Botswana,U.S. dollars,Billions,15.66
993,223,NGDPD,BRA,Brazil,U.S. dollars,Billions,1793.07
1038,516,NGDPD,BRN,Brunei Darussalam,U.S. dollars,Billions,11.40
1083,918,NGDPD,BGR,Bulgaria,U.S. dollars,Billions,53.24
1128,748,NGDPD,BFA,Burkina Faso,U.S. dollars,Billions,11.31
1173,618,NGDPD,BDI,Burundi,U.S. dollars,Billions,3.14
1218,624,NGDPD,CPV,Cabo Verde,U.S. dollars,Billions,1.64
1263,522,NGDPD,KHM,Cambodia,U.S. dollars,Billions,20.16
1308,622,NGDPD,CMR,Cameroon,U.S. dollars,Billions,32.23
...,...,...,...,...,...,...,...
7338,366,NGDPD,SUR,Suriname,U.S. dollars,Billions,3.28
7383,734,NGDPD,SWZ,Swaziland,U.S. dollars,Billions,3.85
7428,144,NGDPD,SWE,Sweden,U.S. dollars,Billions,514.46
7473,146,NGDPD,CHE,Switzerland,U.S. dollars,Billions,668.75
7518,463,NGDPD,SYR,Syria,U.S. dollars,Billions,NaN
7563,528,NGDPD,TWN,Taiwan Province of China,U.S. dollars,Billions,530.61
7608,923,NGDPD,TJK,Tajikistan,U.S. dollars,Billions,6.95
7653,738,NGDPD,TZA,Tanzania,U.S. dollars,Billions,47.65
7698,578,NGDPD,THA,Thailand,U.S. dollars,Billions,411.85
7743,537,NGDPD,TLS,Timor-Leste,U.S. dollars,Billions,2.52
7788,742,NGDPD,TGO,Togo,U.S. dollars,Billions,4.46
7833,866,NGDPD,TON,Tonga,U.S. dollars,Billions,0.41
7878,369,NGDPD,TTO,Trinidad and Tobago,U.S. dollars,Billions,22.30
7923,744,NGDPD,TUN,Tunisia,U.S. dollars,Billions,42.07
7968,186,NGDPD,TUR,Turkey,U.S. dollars,Billions,863.39
8013,925,NGDPD,TKM,Turkmenistan,U.S. dollars,Billions,36.18
8058,869,NGDPD,TUV,Tuvalu,U.S. dollars,Billions,0.04
8103,746,NGDPD,UGA,Uganda,U.S. dollars,Billions,25.31
8148,926,NGDPD,UKR,Ukraine,U.S. dollars,Billions,93.26
8193,466,NGDPD,ARE,United Arab Emirates,U.S. dollars,Billions,348.74
8238,112,NGDPD,GBR,United Kingdom,U.S. dollars,Billions,2660.69
8283,111,NGDPD,USA,United States,U.S. dollars,Billions,18624.45
8328,298,NGDPD,URY,Uruguay,U.S. dollars,Billions,52.42
8373,927,NGDPD,UZB,Uzbekistan,U.S. dollars,Billions,66.69
8418,846,NGDPD,VUT,Vanuatu,U.S. dollars,Billions,0.80
8463,299,NGDPD,VEN,Venezuela,U.S. dollars,Billions,236.12
8508,582,NGDPD,VNM,Vietnam,U.S. dollars,Billions,201.31
8553,474,NGDPD,YEM,Yemen,U.S. dollars,Billions,20.90
8598,754,NGDPD,ZMB,Zambia,U.S. dollars,Billions,20.94
8643,698,NGDPD,ZWE,Zimbabwe,U.S. dollars,Billions,16.12

In [5]:
new_ngdpd_data_df = new_ngdpd_data_df[['ISO', 'Units', 'Scale', '2016']]
new_ngdpd_data_df

      ISO         Units     Scale      2016
3     AFG  U.S. dollars  Billions     19.45
48    ALB  U.S. dollars  Billions     11.87
93    DZA  U.S. dollars  Billions    159.05
138   AGO  U.S. dollars  Billions     95.34
183   ATG  U.S. dollars  Billions      1.46
228   ARG  U.S. dollars  Billions    554.11
273   ARM  U.S. dollars  Billions     10.57
318   AUS  U.S. dollars  Billions   1264.94
363   AUT  U.S. dollars  Billions    390.96
408   AZE  U.S. dollars  Billions     37.81
453   BHS  U.S. dollars  Billions     11.26
498   BHR  U.S. dollars  Billions     32.18
543   BGD  U.S. dollars  Billions    235.62
588   BRB  U.S. dollars  Billions      4.76
633   BLR  U.S. dollars  Billions     47.70
678   BEL  U.S. dollars  Billions    468.15
723   BLZ  U.S. dollars  Billions      1.82
768   BEN  U.S. dollars  Billions      8.58
813   BTN  U.S. dollars  Billions      2.13
858   BOL  U.S. dollars  Billions     34.05
903   BIH  U.S. dollars  Billions     16.92
948   BWA  U.S. dollars  Billions     15.66
993   BRA  U.S. dollars  Billions   1793.07
1038  BRN  U.S. dollars  Billions     11.40
1083  BGR  U.S. dollars  Billions     53.24
1128  BFA  U.S. dollars  Billions     11.31
1173  BDI  U.S. dollars  Billions      3.14
1218  CPV  U.S. dollars  Billions      1.64
1263  KHM  U.S. dollars  Billions     20.16
1308  CMR  U.S. dollars  Billions     32.23
...   ...           ...       ...       ...
7338  SUR  U.S. dollars  Billions      3.28
7383  SWZ  U.S. dollars  Billions      3.85
7428  SWE  U.S. dollars  Billions    514.46
7473  CHE  U.S. dollars  Billions    668.75
7518  SYR  U.S. dollars  Billions       NaN
7563  TWN  U.S. dollars  Billions    530.61
7608  TJK  U.S. dollars  Billions      6.95
7653  TZA  U.S. dollars  Billions     47.65
7698  THA  U.S. dollars  Billions    411.85
7743  TLS  U.S. dollars  Billions      2.52
7788  TGO  U.S. dollars  Billions      4.46
7833  TON  U.S. dollars  Billions      0.41
7878  TTO  U.S. dollars  Billions     22.30
7923  TUN  U.S. dollars  Billions     42.07
7968  TUR  U.S. dollars  Billions    863.39
8013  TKM  U.S. dollars  Billions     36.18
8058  TUV  U.S. dollars  Billions      0.04
8103  UGA  U.S. dollars  Billions     25.31
8148  UKR  U.S. dollars  Billions     93.26
8193  ARE  U.S. dollars  Billions    348.74
8238  GBR  U.S. dollars  Billions   2660.69
8283  USA  U.S. dollars  Billions  18624.45
8328  URY  U.S. dollars  Billions     52.42
8373  UZB  U.S. dollars  Billions     66.69
8418  VUT  U.S. dollars  Billions      0.80
8463  VEN  U.S. dollars  Billions    236.12
8508  VNM  U.S. dollars  Billions    201.31
8553  YEM  U.S. dollars  Billions     20.90
8598  ZMB  U.S. dollars  Billions     20.94
8643  ZWE  U.S. dollars  Billions     16.12

[193 rows x 4 columns]

In [6]:
new_ngdpd_data_df.columns = ['Country_code', 'Units', 'Scale', 'GDP_2016_USDollars']
new_ngdpd_data_df.dropna()

     Country_code         Units     Scale GDP_2016_USDollars
3             AFG  U.S. dollars  Billions              19.45
48            ALB  U.S. dollars  Billions              11.87
93            DZA  U.S. dollars  Billions             159.05
138           AGO  U.S. dollars  Billions              95.34
183           ATG  U.S. dollars  Billions               1.46
228           ARG  U.S. dollars  Billions             554.11
273           ARM  U.S. dollars  Billions              10.57
318           AUS  U.S. dollars  Billions            1264.94
363           AUT  U.S. dollars  Billions             390.96
408           AZE  U.S. dollars  Billions              37.81
453           BHS  U.S. dollars  Billions              11.26
498           BHR  U.S. dollars  Billions              32.18
543           BGD  U.S. dollars  Billions             235.62
588           BRB  U.S. dollars  Billions               4.76
633           BLR  U.S. dollars  Billions              47.70
678           BEL  U.S. dollars  Billions             468.15
723           BLZ  U.S. dollars  Billions               1.82
768           BEN  U.S. dollars  Billions               8.58
813           BTN  U.S. dollars  Billions               2.13
858           BOL  U.S. dollars  Billions              34.05
903           BIH  U.S. dollars  Billions              16.92
948           BWA  U.S. dollars  Billions              15.66
993           BRA  U.S. dollars  Billions            1793.07
1038          BRN  U.S. dollars  Billions              11.40
1083          BGR  U.S. dollars  Billions              53.24
1128          BFA  U.S. dollars  Billions              11.31
1173          BDI  U.S. dollars  Billions               3.14
1218          CPV  U.S. dollars  Billions               1.64
1263          KHM  U.S. dollars  Billions              20.16
1308          CMR  U.S. dollars  Billions              32.23
...           ...           ...       ...                ...
7293          SDN  U.S. dollars  Billions              57.65
7338          SUR  U.S. dollars  Billions               3.28
7383          SWZ  U.S. dollars  Billions               3.85
7428          SWE  U.S. dollars  Billions             514.46
7473          CHE  U.S. dollars  Billions             668.75
7563          TWN  U.S. dollars  Billions             530.61
7608          TJK  U.S. dollars  Billions               6.95
7653          TZA  U.S. dollars  Billions              47.65
7698          THA  U.S. dollars  Billions             411.85
7743          TLS  U.S. dollars  Billions               2.52
7788          TGO  U.S. dollars  Billions               4.46
7833          TON  U.S. dollars  Billions               0.41
7878          TTO  U.S. dollars  Billions              22.30
7923          TUN  U.S. dollars  Billions              42.07
7968          TUR  U.S. dollars  Billions             863.39
8013          TKM  U.S. dollars  Billions              36.18
8058          TUV  U.S. dollars  Billions               0.04
8103          UGA  U.S. dollars  Billions              25.31
8148          UKR  U.S. dollars  Billions              93.26
8193          ARE  U.S. dollars  Billions             348.74
8238          GBR  U.S. dollars  Billions            2660.69
8283          USA  U.S. dollars  Billions           18624.45
8328          URY  U.S. dollars  Billions              52.42
8373          UZB  U.S. dollars  Billions              66.69
8418          VUT  U.S. dollars  Billions               0.80
8463          VEN  U.S. dollars  Billions             236.12
8508          VNM  U.S. dollars  Billions             201.31
8553          YEM  U.S. dollars  Billions              20.90
8598          ZMB  U.S. dollars  Billions              20.94
8643          ZWE  U.S. dollars  Billions              16.12

[192 rows x 4 columns]

In [7]:
rds_connection_string = "root:root@127.0.0.1/etl_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [8]:
new_ngdpd_data_df.to_sql(name='gdp_dollars_2016',con=engine,if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'AFG' for key 'PRIMARY'")
[SQL: INSERT INTO gdp_dollars_2016 (`Country_code`, `Units`, `Scale`, `GDP_2016_USDollars`) VALUES (%(Country_code)s, %(Units)s, %(Scale)s, %(GDP_2016_USDollars)s)]
[parameters: ({'Country_code': 'AFG', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '19.45'}, {'Country_code': 'ALB', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '11.87'}, {'Country_code': 'DZA', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '159.05'}, {'Country_code': 'AGO', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '95.34'}, {'Country_code': 'ATG', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '1.46'}, {'Country_code': 'ARG', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '554.11'}, {'Country_code': 'ARM', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '10.57'}, {'Country_code': 'AUS', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '1264.94'}  ... displaying 10 of 193 total bound parameter sets ...  {'Country_code': 'ZMB', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '20.94'}, {'Country_code': 'ZWE', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '16.12'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [11]:
bucket = 0
for i in range(len(new_ngdpd_data_df)):
    bucket +=1 
    new_ngdpd_data_df.iloc[i:i+1].to_sql(name='gdp_dollars_2016',con=engine,if_exists='append', index=False)
    print(bucket)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`etl_db`.`gdp_dollars_2016`, CONSTRAINT `gdp_dollars_2016_ibfk_1` FOREIGN KEY (`Country_code`) REFERENCES `countries` (`Country_code`))')
[SQL: INSERT INTO gdp_dollars_2016 (`Country_code`, `Units`, `Scale`, `GDP_2016_USDollars`) VALUES (%(Country_code)s, %(Units)s, %(Scale)s, %(GDP_2016_USDollars)s)]
[parameters: {'Country_code': 'UVK', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'GDP_2016_USDollars': '6.72'}]
(Background on this error at: http://sqlalche.me/e/gkpj)