In [21]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
csv_file = "Resources/WEOApr2018all.csv"
gdp_data_df = pd.read_csv(csv_file)
gdp_data_df.head()

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,484.17,495.629,508.044,520.745,536.276,554.949,577.058,602.932,632.983,2016.0
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,"See notes for: Gross domestic product, consta...",NaN,...,1.31,2.367,2.505,2.5,2.982,3.482,3.984,4.484,4.984,2016.0
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,227.95","1,320.24","1,422.01","1,531.95","1,656.57","1,799.95","1,965.32","2,156.19","2,376.89",2016.0
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,20.079,19.454,20.889,21.657,22.925,24.244,25.86,27.783,30,2016.0
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,64.292,66.654,69.553,72.911,76.714,80.945,85.774,91.159,97.367,2016.0

In [23]:
new_gdp_data_df = gdp_data_df[['WEO Country Code', 'WEO Subject Code', 'Country', 'Units', 'Scale', '2016']].copy()
new_gdp_data_df.head()

,WEO Country Code,WEO Subject Code,Country,Units,Scale,2016
0,512,NGDP_R,Afghanistan,National currency,Billions,495.629
1,512,NGDP_RPCH,Afghanistan,Percent change,NaN,2.367
2,512,NGDP,Afghanistan,National currency,Billions,"1,320.24"
3,512,NGDPD,Afghanistan,U.S. dollars,Billions,19.454
4,512,PPPGDP,Afghanistan,Purchasing power parity; international dollars,Billions,66.654

In [24]:
new_ngdpd_data_df = new_gdp_data_df[new_gdp_data_df['WEO Subject Code'] == 'NGDPD']
new_ngdpd_data_df

,WEO Country Code,WEO Subject Code,Country,Units,Scale,2016
3,512,NGDPD,Afghanistan,U.S. dollars,Billions,19.454
48,914,NGDPD,Albania,U.S. dollars,Billions,11.865
93,612,NGDPD,Algeria,U.S. dollars,Billions,159.049
138,614,NGDPD,Angola,U.S. dollars,Billions,95.337
183,311,NGDPD,Antigua and Barbuda,U.S. dollars,Billions,1.46
228,213,NGDPD,Argentina,U.S. dollars,Billions,554.107
273,911,NGDPD,Armenia,U.S. dollars,Billions,10.572
318,193,NGDPD,Australia,U.S. dollars,Billions,"1,264.94"
363,122,NGDPD,Austria,U.S. dollars,Billions,390.961
408,912,NGDPD,Azerbaijan,U.S. dollars,Billions,37.81
453,313,NGDPD,The Bahamas,U.S. dollars,Billions,11.262
498,419,NGDPD,Bahrain,U.S. dollars,Billions,32.176
543,513,NGDPD,Bangladesh,U.S. dollars,Billions,235.623
588,316,NGDPD,Barbados,U.S. dollars,Billions,4.764
633,913,NGDPD,Belarus,U.S. dollars,Billions,47.703
678,124,NGDPD,Belgium,U.S. dollars,Billions,468.148
723,339,NGDPD,Belize,U.S. dollars,Billions,1.82
768,638,NGDPD,Benin,U.S. dollars,Billions,8.576
813,514,NGDPD,Bhutan,U.S. dollars,Billions,2.127
858,218,NGDPD,Bolivia,U.S. dollars,Billions,34.053
903,963,NGDPD,Bosnia and Herzegovina,U.S. dollars,Billions,16.917
948,616,NGDPD,Botswana,U.S. dollars,Billions,15.66
993,223,NGDPD,Brazil,U.S. dollars,Billions,"1,793.07"
1038,516,NGDPD,Brunei Darussalam,U.S. dollars,Billions,11.399
1083,918,NGDPD,Bulgaria,U.S. dollars,Billions,53.236
1128,748,NGDPD,Burkina Faso,U.S. dollars,Billions,11.31
1173,618,NGDPD,Burundi,U.S. dollars,Billions,3.138
1218,624,NGDPD,Cabo Verde,U.S. dollars,Billions,1.64
1263,522,NGDPD,Cambodia,U.S. dollars,Billions,20.157
1308,622,NGDPD,Cameroon,U.S. dollars,Billions,32.23
...,...,...,...,...,...,...
7338,366,NGDPD,Suriname,U.S. dollars,Billions,3.278
7383,734,NGDPD,Swaziland,U.S. dollars,Billions,3.848
7428,144,NGDPD,Sweden,U.S. dollars,Billions,514.46
7473,146,NGDPD,Switzerland,U.S. dollars,Billions,668.748
7518,463,NGDPD,Syria,U.S. dollars,Billions,NaN
7563,528,NGDPD,Taiwan Province of China,U.S. dollars,Billions,530.608
7608,923,NGDPD,Tajikistan,U.S. dollars,Billions,6.953
7653,738,NGDPD,Tanzania,U.S. dollars,Billions,47.653
7698,578,NGDPD,Thailand,U.S. dollars,Billions,411.847
7743,537,NGDPD,Timor-Leste,U.S. dollars,Billions,2.521
7788,742,NGDPD,Togo,U.S. dollars,Billions,4.46
7833,866,NGDPD,Tonga,U.S. dollars,Billions,0.413
7878,369,NGDPD,Trinidad and Tobago,U.S. dollars,Billions,22.296
7923,744,NGDPD,Tunisia,U.S. dollars,Billions,42.074
7968,186,NGDPD,Turkey,U.S. dollars,Billions,863.39
8013,925,NGDPD,Turkmenistan,U.S. dollars,Billions,36.18
8058,869,NGDPD,Tuvalu,U.S. dollars,Billions,0.037
8103,746,NGDPD,Uganda,U.S. dollars,Billions,25.307
8148,926,NGDPD,Ukraine,U.S. dollars,Billions,93.263
8193,466,NGDPD,United Arab Emirates,U.S. dollars,Billions,348.743
8238,112,NGDPD,United Kingdom,U.S. dollars,Billions,"2,660.69"
8283,111,NGDPD,United States,U.S. dollars,Billions,"18,624.45"
8328,298,NGDPD,Uruguay,U.S. dollars,Billions,52.42
8373,927,NGDPD,Uzbekistan,U.S. dollars,Billions,66.693
8418,846,NGDPD,Vanuatu,U.S. dollars,Billions,0.798
8463,299,NGDPD,Venezuela,U.S. dollars,Billions,236.116
8508,582,NGDPD,Vietnam,U.S. dollars,Billions,201.309
8553,474,NGDPD,Yemen,U.S. dollars,Billions,20.901
8598,754,NGDPD,Zambia,U.S. dollars,Billions,20.941
8643,698,NGDPD,Zimbabwe,U.S. dollars,Billions,16.117

In [25]:
new_ngdpd_data_df = new_ngdpd_data_df[['WEO Country Code', 'Country', 'Units', 'Scale', '2016']]
new_ngdpd_data_df

,WEO Country Code,Country,Units,Scale,2016
3,512,Afghanistan,U.S. dollars,Billions,19.454
48,914,Albania,U.S. dollars,Billions,11.865
93,612,Algeria,U.S. dollars,Billions,159.049
138,614,Angola,U.S. dollars,Billions,95.337
183,311,Antigua and Barbuda,U.S. dollars,Billions,1.46
228,213,Argentina,U.S. dollars,Billions,554.107
273,911,Armenia,U.S. dollars,Billions,10.572
318,193,Australia,U.S. dollars,Billions,"1,264.94"
363,122,Austria,U.S. dollars,Billions,390.961
408,912,Azerbaijan,U.S. dollars,Billions,37.81
453,313,The Bahamas,U.S. dollars,Billions,11.262
498,419,Bahrain,U.S. dollars,Billions,32.176
543,513,Bangladesh,U.S. dollars,Billions,235.623
588,316,Barbados,U.S. dollars,Billions,4.764
633,913,Belarus,U.S. dollars,Billions,47.703
678,124,Belgium,U.S. dollars,Billions,468.148
723,339,Belize,U.S. dollars,Billions,1.82
768,638,Benin,U.S. dollars,Billions,8.576
813,514,Bhutan,U.S. dollars,Billions,2.127
858,218,Bolivia,U.S. dollars,Billions,34.053
903,963,Bosnia and Herzegovina,U.S. dollars,Billions,16.917
948,616,Botswana,U.S. dollars,Billions,15.66
993,223,Brazil,U.S. dollars,Billions,"1,793.07"
1038,516,Brunei Darussalam,U.S. dollars,Billions,11.399
1083,918,Bulgaria,U.S. dollars,Billions,53.236
1128,748,Burkina Faso,U.S. dollars,Billions,11.31
1173,618,Burundi,U.S. dollars,Billions,3.138
1218,624,Cabo Verde,U.S. dollars,Billions,1.64
1263,522,Cambodia,U.S. dollars,Billions,20.157
1308,622,Cameroon,U.S. dollars,Billions,32.23
...,...,...,...,...,...
7338,366,Suriname,U.S. dollars,Billions,3.278
7383,734,Swaziland,U.S. dollars,Billions,3.848
7428,144,Sweden,U.S. dollars,Billions,514.46
7473,146,Switzerland,U.S. dollars,Billions,668.748
7518,463,Syria,U.S. dollars,Billions,NaN
7563,528,Taiwan Province of China,U.S. dollars,Billions,530.608
7608,923,Tajikistan,U.S. dollars,Billions,6.953
7653,738,Tanzania,U.S. dollars,Billions,47.653
7698,578,Thailand,U.S. dollars,Billions,411.847
7743,537,Timor-Leste,U.S. dollars,Billions,2.521
7788,742,Togo,U.S. dollars,Billions,4.46
7833,866,Tonga,U.S. dollars,Billions,0.413
7878,369,Trinidad and Tobago,U.S. dollars,Billions,22.296
7923,744,Tunisia,U.S. dollars,Billions,42.074
7968,186,Turkey,U.S. dollars,Billions,863.39
8013,925,Turkmenistan,U.S. dollars,Billions,36.18
8058,869,Tuvalu,U.S. dollars,Billions,0.037
8103,746,Uganda,U.S. dollars,Billions,25.307
8148,926,Ukraine,U.S. dollars,Billions,93.263
8193,466,United Arab Emirates,U.S. dollars,Billions,348.743
8238,112,United Kingdom,U.S. dollars,Billions,"2,660.69"
8283,111,United States,U.S. dollars,Billions,"18,624.45"
8328,298,Uruguay,U.S. dollars,Billions,52.42
8373,927,Uzbekistan,U.S. dollars,Billions,66.693
8418,846,Vanuatu,U.S. dollars,Billions,0.798
8463,299,Venezuela,U.S. dollars,Billions,236.116
8508,582,Vietnam,U.S. dollars,Billions,201.309
8553,474,Yemen,U.S. dollars,Billions,20.901
8598,754,Zambia,U.S. dollars,Billions,20.941
8643,698,Zimbabwe,U.S. dollars,Billions,16.117

In [31]:
new_ngdpd_data_df.columns = ['Country_id', 'Country', 'Units', 'Scale', 'NGDPD_2016']
new_ngdpd_data_df

     Country_id                   Country         Units     Scale NGDPD_2016
3           512               Afghanistan  U.S. dollars  Billions     19.454
48          914                   Albania  U.S. dollars  Billions     11.865
93          612                   Algeria  U.S. dollars  Billions    159.049
138         614                    Angola  U.S. dollars  Billions     95.337
183         311       Antigua and Barbuda  U.S. dollars  Billions       1.46
228         213                 Argentina  U.S. dollars  Billions    554.107
273         911                   Armenia  U.S. dollars  Billions     10.572
318         193                 Australia  U.S. dollars  Billions   1,264.94
363         122                   Austria  U.S. dollars  Billions    390.961
408         912                Azerbaijan  U.S. dollars  Billions      37.81
453         313               The Bahamas  U.S. dollars  Billions     11.262
498         419                   Bahrain  U.S. dollars  Billions     32.176
543         513                Bangladesh  U.S. dollars  Billions    235.623
588         316                  Barbados  U.S. dollars  Billions      4.764
633         913                   Belarus  U.S. dollars  Billions     47.703
678         124                   Belgium  U.S. dollars  Billions    468.148
723         339                    Belize  U.S. dollars  Billions       1.82
768         638                     Benin  U.S. dollars  Billions      8.576
813         514                    Bhutan  U.S. dollars  Billions      2.127
858         218                   Bolivia  U.S. dollars  Billions     34.053
903         963    Bosnia and Herzegovina  U.S. dollars  Billions     16.917
948         616                  Botswana  U.S. dollars  Billions      15.66
993         223                    Brazil  U.S. dollars  Billions   1,793.07
1038        516         Brunei Darussalam  U.S. dollars  Billions     11.399
1083        918                  Bulgaria  U.S. dollars  Billions     53.236
1128        748              Burkina Faso  U.S. dollars  Billions      11.31
1173        618                   Burundi  U.S. dollars  Billions      3.138
1218        624                Cabo Verde  U.S. dollars  Billions       1.64
1263        522                  Cambodia  U.S. dollars  Billions     20.157
1308        622                  Cameroon  U.S. dollars  Billions      32.23
...         ...                       ...           ...       ...        ...
7338        366                  Suriname  U.S. dollars  Billions      3.278
7383        734                 Swaziland  U.S. dollars  Billions      3.848
7428        144                    Sweden  U.S. dollars  Billions     514.46
7473        146               Switzerland  U.S. dollars  Billions    668.748
7518        463                     Syria  U.S. dollars  Billions        NaN
7563        528  Taiwan Province of China  U.S. dollars  Billions    530.608
7608        923                Tajikistan  U.S. dollars  Billions      6.953
7653        738                  Tanzania  U.S. dollars  Billions     47.653
7698        578                  Thailand  U.S. dollars  Billions    411.847
7743        537               Timor-Leste  U.S. dollars  Billions      2.521
7788        742                      Togo  U.S. dollars  Billions       4.46
7833        866                     Tonga  U.S. dollars  Billions      0.413
7878        369       Trinidad and Tobago  U.S. dollars  Billions     22.296
7923        744                   Tunisia  U.S. dollars  Billions     42.074
7968        186                    Turkey  U.S. dollars  Billions     863.39
8013        925              Turkmenistan  U.S. dollars  Billions      36.18
8058        869                    Tuvalu  U.S. dollars  Billions      0.037
8103        746                    Uganda  U.S. dollars  Billions     25.307
8148        926                   Ukraine  U.S. dollars  Billions     93.263
8193        466      United Arab Emirates  U.S. dollars  Billions    348.743
8238        112            United Kingdom  U.S. dollars  Billions   2,660.69
8283        111             United States  U.S. dollars  Billions  18,624.45
8328        298                   Uruguay  U.S. dollars  Billions      52.42
8373        927                Uzbekistan  U.S. dollars  Billions     66.693
8418        846                   Vanuatu  U.S. dollars  Billions      0.798
8463        299                 Venezuela  U.S. dollars  Billions    236.116
8508        582                   Vietnam  U.S. dollars  Billions    201.309
8553        474                     Yemen  U.S. dollars  Billions     20.901
8598        754                    Zambia  U.S. dollars  Billions     20.941
8643        698                  Zimbabwe  U.S. dollars  Billions     16.117

[193 rows x 5 columns]

In [27]:
rds_connection_string = "root:root@127.0.0.1/ngdpd2016_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [28]:
engine.table_names()

['ngdpd2016_table']

In [41]:
new_ngdpd_data_df.to_sql(name='ngdpd2016_table', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1048, "Column 'NGDPD_2016' cannot be null") [SQL: 'INSERT INTO ngdpd2016_table (`Country_id`, `Country`, `Units`, `Scale`, `NGDPD_2016`) VALUES (%(Country_id)s, %(Country)s, %(Units)s, %(Scale)s, %(NGDPD_2016)s)'] [parameters: ({'Country_id': '512', 'Country': 'Afghanistan', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '19.454'}, {'Country_id': '914', 'Country': 'Albania', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '11.865'}, {'Country_id': '612', 'Country': 'Algeria', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '159.049'}, {'Country_id': '614', 'Country': 'Angola', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '95.337'}, {'Country_id': '311', 'Country': 'Antigua and Barbuda', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '1.46'}, {'Country_id': '213', 'Country': 'Argentina', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '554.107'}, {'Country_id': '911', 'Country': 'Armenia', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '10.572'}, {'Country_id': '193', 'Country': 'Australia', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '1,264.94'}  ... displaying 10 of 193 total bound parameter sets ...  {'Country_id': '754', 'Country': 'Zambia', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '20.941'}, {'Country_id': '698', 'Country': 'Zimbabwe', 'Units': 'U.S. dollars', 'Scale': 'Billions', 'NGDPD_2016': '16.117'})] (Background on this error at: http://sqlalche.me/e/gkpj)